.details {
    width: 100vw;
    height: 86vh;
    position: relative;

    &>.details-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        opacity: 0.375;
    }

    &>.movie-details {
        position: absolute;
        top: 0;
        left: 0;
        width: 85%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 40px;

        &>.img-card {
            width: 35%;
            height: 80%;
            text-align: right;

            &>.movie-img {
                height: 100%;
                border-radius: 10px;
            }
        }

        &>.info-movie {
            width: 60%;
            color: white;
            text-align: left;

            &>.title-1 {
                font-size: 2rem;
            }

            &>.title-2 {
                font-size: 1.5rem;
            }

            &>.data {
                margin-bottom: 10px;
                font-size: 1.2rem;
            }

            &>.contenedor-favoritos {
                display: flex;
                align-items: center;

                &>.corazon {
                    font-size: 2rem;
                    margin: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (min-width: 768px) {}